* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  font-size: 16px;
  color: #000;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.attribution {
  bottom: 3rem;
  left: 0;
  right: 0;
  position: absolute;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 320px;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 1rem 1rem 2.5rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 24px;
}

.card__image {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
}

.card__image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding: 0rem 1rem;
  gap: 1rem;
}

.card__content > h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  letter-spacing: 0rem;
  line-height: 1.2;
  font-size: 1.375rem;
}

.card__content > p {
  line-height: 1.4;
  color: hsl(216, 15%, 48%);
  letter-spacing: 0.0125rem;
  font-size: 0.9375rem;
}
